[Unit]
Description=A high performance web server and a reverse proxy server
After=network.target

[Service]
Type=forking
ExecStart=/opt/iepCrond/iepCrond.sh -s 
ExecStop=/opt/iepCrond/iepCrond.sh  -d

[Install]
WantedBy=multi-user.target
